# ***External ABS data handling***

In [1]:
import os
import sys
import pandas as pd
sys.path.append("../")
from pyspark.sql import SparkSession
from pyspark.sql.functions import input_file_name, regexp_extract, regexp_replace, to_date, avg
from scripts.download import download_abs

## Correspondence

In [2]:
download_abs()

Successfully downloaded ABS files.

In [3]:
correspondence = pd.read_csv("../data/tables/abs/postcode_correspondences_2021.csv")
correspondence.head(15)

,POSTCODE,SA2_CODE_2021,SA2_NAME_2021,RATIO_FROM_TO,INDIV_TO_REGION_QLTY_INDICATOR,OVERALL_QUALITY_INDICATOR,BMOS_NULL_FLAG
0,800.0,701011002,Darwin City,1.000000e+00,Good,Poor,0.0
1,810.0,701021018,Jingili,5.340360e-02,Poor,Poor,0.0
2,810.0,701021029,Wanguri,5.363500e-02,Poor,Poor,0.0
3,810.0,701021024,Moil,5.821800e-02,Poor,Poor,0.0
4,810.0,701021028,Wagaman,5.894620e-02,Poor,Poor,0.0
5,810.0,701021010,Alawa,6.095950e-02,Poor,Poor,0.0
6,810.0,701021027,Tiwi,7.289560e-02,Poor,Poor,0.0
7,810.0,701021023,Millner,7.473410e-02,Poor,Poor,0.0
8,810.0,701021016,Coconut Grove,8.395780e-02,Poor,Poor,0.0
9,810.0,701021026,Rapid Creek,9.522160e-02,Poor,Poor,0.0
10,810.0,701021013,Brinkin - Nakara,1.000345e-01,Poor,Poor,0.0
11,810.0,701021025,Nightcliff,1.134344e-01,Poor,Poor,0.0
12,810.0,701021021,Lyons (NT),1.745598e-01,Poor,Poor,0.0
13,812.0,701021021,Lyons (NT),3.000000e-07,Poor,Poor,1.0
14,812.0,701021014,Buffalo Creek,1.600000e-06,Poor,Poor,1.0

#### Postcodes may be matched to multiple SA2 regions, therefore we will choose the region with the highest ratio (percentage of population for that postcode) as representative.

In [4]:
# get indices of max ratio values for each postcode
max_indices = correspondence.groupby("POSTCODE")["RATIO_FROM_TO"].idxmax()

In [5]:
correspondence_filtered = correspondence.loc[max_indices].reset_index(drop=True)
correspondence_filtered.head(5)

,POSTCODE,SA2_CODE_2021,SA2_NAME_2021,RATIO_FROM_TO,INDIV_TO_REGION_QLTY_INDICATOR,OVERALL_QUALITY_INDICATOR,BMOS_NULL_FLAG
0,800.0,701011002,Darwin City,1.000000,Good,Poor,0.0
1,810.0,701021021,Lyons (NT),0.174560,Poor,Poor,0.0
2,812.0,701021019,Karama,0.257474,Poor,Poor,0.0
3,820.0,701011008,Stuart Park,0.206533,Poor,Poor,0.0
4,822.0,702041063,East Arnhem,0.209947,Poor,Poor,0.0

#### We can then get rid of all columns except postcode and SA2 code, which will be of use for combining our ABS data with the synthetic data.

In [6]:
correspondence_filtered = correspondence_filtered[["POSTCODE", "SA2_CODE_2021"]]
correspondence_filtered.head(5)

   POSTCODE SA2_CODE_2021
0     800.0     701011002
1     810.0     701021021
2     812.0     701021019
3     820.0     701011008
4     822.0     702041063

We can now assign a SA2 code for each customer in our synthetic dataset.

In [7]:
# read in data
# data is seperated by pipe "|", not comma
customers = pd.read_csv("../data/tables/synthetic/tbl_consumer.csv", sep="|")
customers

,name,address,state,postcode,gender,consumer_id
0,Yolanda Williams,413 Haney Gardens Apt. 742,WA,6935,Female,1195503
1,Mary Smith,3764 Amber Oval,NSW,2782,Female,179208
2,Jill Jones MD,40693 Henry Greens,NT,862,Female,1194530
3,Lindsay Jimenez,00653 Davenport Crossroad,NSW,2780,Female,154128
4,Rebecca Blanchard,9271 Michael Manors Suite 651,WA,6355,Female,712975
...,...,...,...,...,...,...
499994,Jessica Avila,508 Miranda Overpass Apt. 218,QLD,4400,Female,1385608
499995,Steven Thornton,7913 Schwartz Mission Suite 483,VIC,3097,Undisclosed,1466964
499996,Christy Smith,5681 Zachary Mountain Apt. 060,NSW,2756,Undisclosed,1253484
499997,Donna Sutton,54140 Jacob Point,VIC,3989,Female,175005
499998,Hannah Wilkins,61055 Long Valley,NSW,1755,Female,746835

In [8]:
customers_merged = pd.merge(customers, correspondence_filtered, left_on="postcode", right_on="POSTCODE", how="left")
customers_merged = customers_merged.drop("POSTCODE", axis=1)
customers_merged.head(5)

,name,address,state,postcode,gender,consumer_id,SA2_CODE_2021
0,Yolanda Williams,413 Haney Gardens Apt. 742,WA,6935,Female,1195503,NaN
1,Mary Smith,3764 Amber Oval,NSW,2782,Female,179208,124011455
2,Jill Jones MD,40693 Henry Greens,NT,862,Female,1194530,702021055
3,Lindsay Jimenez,00653 Davenport Crossroad,NSW,2780,Female,154128,124011452
4,Rebecca Blanchard,9271 Michael Manors Suite 651,WA,6355,Female,712975,509031247

In [9]:
customers_merged["SA2_CODE_2021"].isna().sum()

83181

83,181 missing SA2 codes - maybe impute with mean/median values for state when using ABS data later? Or find similar postcodes or use latitude/longitude data?

In [10]:
# replace NaN values with zeroes (helps with merging later)
customers_merged["SA2_CODE_2021"] = customers_merged["SA2_CODE_2021"].fillna(0)
customers_merged.head(5)

,name,address,state,postcode,gender,consumer_id,SA2_CODE_2021
0,Yolanda Williams,413 Haney Gardens Apt. 742,WA,6935,Female,1195503,0
1,Mary Smith,3764 Amber Oval,NSW,2782,Female,179208,124011455
2,Jill Jones MD,40693 Henry Greens,NT,862,Female,1194530,702021055
3,Lindsay Jimenez,00653 Davenport Crossroad,NSW,2780,Female,154128,124011452
4,Rebecca Blanchard,9271 Michael Manors Suite 651,WA,6355,Female,712975,509031247

## ABS Data Cleaning

In [11]:
abs_df = pd.read_csv("../data/tables/abs/ABS_2021.csv")
abs_df.head(15)

,DATAFLOW,MEDAVG: Median/Average,REGION: Region,REGION_TYPE: Region Type,STATE: State,TIME_PERIOD: Time Period,OBS_VALUE
0,ABS:C21_G02_SA2(1.0.0),1: Median age of persons,AUS: Australia,AUS: Australia,AUS: Australia,2021,38.0
1,ABS:C21_G02_SA2(1.0.0),2: Median total personal income ($/weekly),AUS: Australia,AUS: Australia,AUS: Australia,2021,805.0
2,ABS:C21_G02_SA2(1.0.0),3: Median total family income ($/weekly),AUS: Australia,AUS: Australia,AUS: Australia,2021,2120.0
3,ABS:C21_G02_SA2(1.0.0),4: Median total household income ($/weekly),AUS: Australia,AUS: Australia,AUS: Australia,2021,1746.0
4,ABS:C21_G02_SA2(1.0.0),5: Median mortgage repayment ($/monthly),AUS: Australia,AUS: Australia,AUS: Australia,2021,1863.0
5,ABS:C21_G02_SA2(1.0.0),6: Median rent ($/weekly),AUS: Australia,AUS: Australia,AUS: Australia,2021,375.0
6,ABS:C21_G02_SA2(1.0.0),7: Average number of persons per bedroom,AUS: Australia,AUS: Australia,AUS: Australia,2021,0.8
7,ABS:C21_G02_SA2(1.0.0),8: Average household size,AUS: Australia,AUS: Australia,AUS: Australia,2021,2.5
8,ABS:C21_G02_SA2(1.0.0),1: Median age of persons,112: Richmond - Tweed,SA4: Statistical Area Level 4,1: New South Wales,2021,46.0
9,ABS:C21_G02_SA2(1.0.0),1: Median age of persons,127: Sydney - South West,SA4: Statistical Area Level 4,1: New South Wales,2021,35.0
10,ABS:C21_G02_SA2(1.0.0),1: Median age of persons,10102: Queanbeyan,SA3: Statistical Area Level 3,1: New South Wales,2021,38.0
11,ABS:C21_G02_SA2(1.0.0),1: Median age of persons,10106: Young - Yass,SA3: Statistical Area Level 3,1: New South Wales,2021,44.0
12,ABS:C21_G02_SA2(1.0.0),1: Median age of persons,10304: Orange,SA3: Statistical Area Level 3,1: New South Wales,2021,38.0
13,ABS:C21_G02_SA2(1.0.0),1: Median age of persons,11202: Richmond Valley - Hinterland,SA3: Statistical Area Level 3,1: New South Wales,2021,45.0
14,ABS:C21_G02_SA2(1.0.0),1: Median age of persons,11501: Baulkham Hills,SA3: Statistical Area Level 3,1: New South Wales,2021,41.0

In [12]:
# Before filtering:
abs_df.shape

(23632, 7)

First, let's get state-wide statistics for imputation purposes later. Since we are focusing on median personal income, we will only get each state's median personal income number.

In [13]:
stat = "2: Median total personal income ($/weekly)"

NSW_median_income = float(abs_df[(abs_df["MEDAVG: Median/Average"] == stat) &
                           (abs_df["REGION: Region"] == "1: New South Wales")]["OBS_VALUE"])

VIC_median_income = float(abs_df[(abs_df["MEDAVG: Median/Average"] == stat) &
                           (abs_df["REGION: Region"] == "2: Victoria")]["OBS_VALUE"])

QLD_median_income = float(abs_df[(abs_df["MEDAVG: Median/Average"] == stat) &
                           (abs_df["REGION: Region"] == "3: Queensland")]["OBS_VALUE"])

SA_median_income = float(abs_df[(abs_df["MEDAVG: Median/Average"] == stat) &
                           (abs_df["REGION: Region"] == "4: South Australia")]["OBS_VALUE"])

WA_median_income = float(abs_df[(abs_df["MEDAVG: Median/Average"] == stat) &
                           (abs_df["REGION: Region"] == "5: Western Australia")]["OBS_VALUE"])

TAS_median_income = float(abs_df[(abs_df["MEDAVG: Median/Average"] == stat) &
                           (abs_df["REGION: Region"] == "6: Tasmania")]["OBS_VALUE"])

NT_median_income = float(abs_df[(abs_df["MEDAVG: Median/Average"] == stat) &
                           (abs_df["REGION: Region"] == "7: Northern Territory")]["OBS_VALUE"])

ACT_median_income = float(abs_df[(abs_df["MEDAVG: Median/Average"] == stat) &
                           (abs_df["REGION: Region"] == "8: Australian Capital Territory")]["OBS_VALUE"])

Firstly, we only want SA2 data, and data from 2021.

In [14]:
abs_filtered = abs_df[(abs_df["REGION_TYPE: Region Type"] == "SA2: Statistical Area Level 2") & 
                      (abs_df["TIME_PERIOD: Time Period"] == 2021)]
abs_filtered.shape

(19722, 7)

In [15]:
abs_filtered.head(5)

,DATAFLOW,MEDAVG: Median/Average,REGION: Region,REGION_TYPE: Region Type,STATE: State,TIME_PERIOD: Time Period,OBS_VALUE
34,ABS:C21_G02_SA2(1.0.0),1: Median age of persons,101031014: Cooma,SA2: Statistical Area Level 2,1: New South Wales,2021,44.0
35,ABS:C21_G02_SA2(1.0.0),1: Median age of persons,101051540: Goulburn Surrounds,SA2: Statistical Area Level 2,1: New South Wales,2021,48.0
36,ABS:C21_G02_SA2(1.0.0),1: Median age of persons,102021052: Summerland Point - Gwandalan,SA2: Statistical Area Level 2,1: New South Wales,2021,45.0
37,ABS:C21_G02_SA2(1.0.0),1: Median age of persons,103031075: Wollangambe - Wollemi,SA2: Statistical Area Level 2,1: New South Wales,2021,0.0
38,ABS:C21_G02_SA2(1.0.0),1: Median age of persons,105031106: Wellington,SA2: Statistical Area Level 2,1: New South Wales,2021,41.0

Now, we can convert the SA2 region into only its code, and also remove unnecessary features. We will also rename the relevant columns for ease of access.

In [16]:
# change SA2 feature
abs_filtered["REGION: Region"] = abs_filtered["REGION: Region"].str[:9].astype("int64")
abs_filtered.head(5)

/var/folders/cg/w3sqdjkn6dddbfbdcn4ckggh0000gn/T/ipykernel_16567/4185616500.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  abs_filtered["REGION: Region"] = abs_filtered["REGION: Region"].str[:9].astype("int64")

,DATAFLOW,MEDAVG: Median/Average,REGION: Region,REGION_TYPE: Region Type,STATE: State,TIME_PERIOD: Time Period,OBS_VALUE
34,ABS:C21_G02_SA2(1.0.0),1: Median age of persons,101031014,SA2: Statistical Area Level 2,1: New South Wales,2021,44.0
35,ABS:C21_G02_SA2(1.0.0),1: Median age of persons,101051540,SA2: Statistical Area Level 2,1: New South Wales,2021,48.0
36,ABS:C21_G02_SA2(1.0.0),1: Median age of persons,102021052,SA2: Statistical Area Level 2,1: New South Wales,2021,45.0
37,ABS:C21_G02_SA2(1.0.0),1: Median age of persons,103031075,SA2: Statistical Area Level 2,1: New South Wales,2021,0.0
38,ABS:C21_G02_SA2(1.0.0),1: Median age of persons,105031106,SA2: Statistical Area Level 2,1: New South Wales,2021,41.0

In [17]:
abs_filtered = abs_filtered.drop(["DATAFLOW", "REGION_TYPE: Region Type", "STATE: State",
                                  "TIME_PERIOD: Time Period"], axis=1) # drop useless columns
abs_filtered = abs_filtered.rename(columns={"MEDAVG: Median/Average": "statistic",
                                            "REGION: Region": "region",
                                            "OBS_VALUE": "value"}) # rename columns
abs_filtered.shape

(19722, 3)

We should engineer new columns based on the categorical values of the `Statistic` column.

In [18]:
abs_filtered = abs_filtered.pivot_table(index="region", columns="statistic", values="value", aggfunc="sum")
abs_filtered = abs_filtered.reset_index()
abs_filtered

statistic,region,1: Median age of persons,2: Median total personal income ($/weekly),3: Median total family income ($/weekly),4: Median total household income ($/weekly),5: Median mortgage repayment ($/monthly),6: Median rent ($/weekly),7: Average number of persons per bedroom,8: Average household size
0,101021007,51.0,760.0,1886.0,1429.0,1732.0,330.0,0.8,2.2
1,101021008,38.0,975.0,2334.0,1989.0,1950.0,350.0,0.8,2.6
2,101021009,37.0,996.0,2233.0,1703.0,1700.0,330.0,0.9,2.1
3,101021010,36.0,1104.0,2412.0,1796.0,1700.0,310.0,0.9,2.1
4,101021012,37.0,1357.0,3332.0,3014.0,2300.0,430.0,0.8,2.9
...,...,...,...,...,...,...,...,...,...
2467,901021002,40.0,741.0,1678.0,2519.0,1972.0,231.0,1.1,3.8
2468,901031003,38.0,585.0,1687.0,1825.0,1849.0,90.0,0.8,3.0
2469,901041004,50.0,736.0,1630.0,1184.0,1300.0,240.0,0.8,2.1
2470,997979799,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2471,999999499,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
# rename all columns for simplicity
abs_filtered.columns = ["region", "median_age", "median_personal_income",
                        "median_family_income", "median_household_income", "median_mortgage",
                        "median_rent", "avg_bedroom", "avg_household"]
abs_filtered.shape

(2472, 9)

In [20]:
abs_filtered.drop("region", axis=1).describe()

,median_age,median_personal_income,median_family_income,median_household_income,median_mortgage,median_rent,avg_bedroom,avg_household
count,2472.000000,2472.000000,2463.000000,2463.000000,2463.000000,2463.000000,2463.000000,2463.000000
mean,39.728964,835.014159,2115.051969,1762.125863,1805.879009,358.440926,0.811246,2.508242
std,8.617423,286.225602,745.723936,621.424829,688.744319,129.056917,0.172310,0.537332
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,35.000000,675.000000,1655.500000,1346.000000,1430.000000,290.000000,0.800000,2.300000
50%,39.000000,798.000000,2079.000000,1735.000000,1815.000000,365.000000,0.800000,2.500000
75%,44.000000,959.250000,2477.000000,2135.500000,2167.000000,426.000000,0.900000,2.800000
max,91.000000,3250.000000,7000.000000,7000.000000,9999.000000,1200.000000,2.000000,6.000000

We should remove instances which include outlier values for some features. For example, we can see that minimum values for a lot of the statistics are zero, which doesn't make sense. We should also remove any NaN values.

In [21]:
# remove outliers
abs_filtered = abs_filtered[(abs_filtered["median_age"] > 0) & 
                            (abs_filtered["median_personal_income"] > 0) &
                            (abs_filtered["median_family_income"] > 0) &
                            (abs_filtered["median_household_income"] > 0) &
                            (abs_filtered["median_mortgage"] > 0) &
                            (abs_filtered["median_rent"] > 0) &
                            (abs_filtered["avg_bedroom"] > 0) &
                            (abs_filtered["avg_household"] > 0)]

abs_filtered = abs_filtered.dropna() # remove NaN values

abs_filtered.drop("region", axis=1).describe()

,median_age,median_personal_income,median_family_income,median_household_income,median_mortgage,median_rent,avg_bedroom,avg_household
count,2350.000000,2350.000000,2350.000000,2350.000000,2350.000000,2350.000000,2350.000000,2350.000000
mean,40.180851,845.071064,2167.366809,1799.736170,1881.170213,370.586383,0.822340,2.560596
std,6.407814,235.630911,639.611874,540.384664,585.246160,112.146069,0.117765,0.371431
min,23.000000,240.000000,551.000000,575.000000,109.000000,20.000000,0.500000,1.300000
25%,36.000000,684.250000,1695.500000,1373.000000,1500.000000,300.000000,0.800000,2.300000
50%,39.000000,803.000000,2094.500000,1755.000000,1849.000000,370.000000,0.800000,2.500000
75%,44.000000,957.750000,2487.000000,2148.750000,2167.000000,430.000000,0.900000,2.800000
max,70.000000,2150.000000,7000.000000,4799.000000,9999.000000,1200.000000,1.900000,5.100000

We can see that the distributions of these numeric features now look much more sensible.

In [22]:
# external dataset shape after filtering
abs_filtered.shape

(2350, 9)

Now we can take the median personal income (our variable of interest) and merge this with our customer dataset according to SA2 region code.

In [23]:
median_personal_income_df = abs_filtered.loc[:, ["region", "median_personal_income"]]
customers_merged["SA2_CODE_2021"] = customers_merged["SA2_CODE_2021"].astype("int") # helps with merging

df_merged = pd.merge(customers_merged, median_personal_income_df, left_on="SA2_CODE_2021", right_on="region", how="left")
df_merged = df_merged.drop("SA2_CODE_2021", axis=1) # drop duplicate column
df_merged.head(5)

,name,address,state,postcode,gender,consumer_id,region,median_personal_income
0,Yolanda Williams,413 Haney Gardens Apt. 742,WA,6935,Female,1195503,NaN,NaN
1,Mary Smith,3764 Amber Oval,NSW,2782,Female,179208,124011455.0,740.0
2,Jill Jones MD,40693 Henry Greens,NT,862,Female,1194530,702021055.0,416.0
3,Lindsay Jimenez,00653 Davenport Crossroad,NSW,2780,Female,154128,124011452.0,687.0
4,Rebecca Blanchard,9271 Michael Manors Suite 651,WA,6355,Female,712975,509031247.0,897.0

Since we are missing some income numbers (see the `NaN` value), we will impute each missing value with the median income of the state where the customer is from.

In [24]:
replacement_values = {"NSW": NSW_median_income, # values determined through initial ABS dataset
                      "VIC": VIC_median_income,
                      "QLD": QLD_median_income,
                      "SA": SA_median_income,
                      "WA": WA_median_income,
                      "TAS": TAS_median_income,
                      "NT": NT_median_income,
                      "ACT": ACT_median_income}

replacement_series = df_merged["state"].map(replacement_values)

df_merged["median_personal_income"] = df_merged["median_personal_income"].fillna(replacement_series)
df_merged.head(5)

,name,address,state,postcode,gender,consumer_id,region,median_personal_income
0,Yolanda Williams,413 Haney Gardens Apt. 742,WA,6935,Female,1195503,NaN,848.0
1,Mary Smith,3764 Amber Oval,NSW,2782,Female,179208,124011455.0,740.0
2,Jill Jones MD,40693 Henry Greens,NT,862,Female,1194530,702021055.0,416.0
3,Lindsay Jimenez,00653 Davenport Crossroad,NSW,2780,Female,154128,124011452.0,687.0
4,Rebecca Blanchard,9271 Michael Manors Suite 651,WA,6355,Female,712975,509031247.0,897.0

In [25]:
df_merged["median_personal_income"].isna().any()

False

We can see that our median personal income column now has no missing values, and hence the data has been properly imputed.

In [26]:
# define the folder path and filename
output_path = "../data/curated/"
file_name = "consumers_median_income"

# create the folder if it doesn't exist
if not os.path.exists(output_path):
    os.makedirs(output_path)

# save df to csv in the specified folder
file_path = os.path.join(output_path, file_name)
df_merged.to_csv(file_path, index=False)

## Making Dataframe

Each column: Order ID, Date, ABN, User ID, Consumer ID, Fraud Probability, Median Income

In [29]:
spark = (
    SparkSession.builder.appName("nathan")
    .config("spark.sql.repl.eagerEval.enabled", True) 
    .config("spark.sql.parquet.cacheMetadata", "true")
    .config("spark.sql.session.timeZone", "Etc/UTC")
    .getOrCreate()
)

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/09/23 22:48:45 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [45]:
consumer_fraud = pd.read_csv("../data/tables/synthetic/consumer_fraud_probability.csv")
consumer_details = spark.read.parquet("../data/tables/synthetic/consumer_user_details.parquet")

In [48]:
consumer_details.limit(5)

+-------+-----------+
|user_id|consumer_id|
+-------+-----------+
|      1|    1195503|
|      2|     179208|
|      3|    1194530|
|      4|     154128|
|      5|     712975|
+-------+-----------+

In [51]:
transactions_path = "../data/tables/synthetic/transactions/"

# Read all parquet files and add a new column for the file name
df = spark.read.parquet(transactions_path).withColumn("order_datetime", input_file_name())
df = df.withColumn("order_datetime", regexp_extract(input_file_name(), r'[^/]+$', 0))

df.limit(5)

+-------+------------+------------------+--------------------+------------------+
|user_id|merchant_abn|      dollar_value|            order_id|    order_datetime|
+-------+------------+------------------+--------------------+------------------+
|  14935| 79417999332|136.06570809815838|23acbb7b-cf98-458...|2021-11-26.parquet|
|      1| 46451548968| 72.61581642788431|76bab304-fa2d-400...|2021-11-26.parquet|
|  14936| 89518629617|3.0783487174439297|a2ae446a-2959-41c...|2021-11-26.parquet|
|      1| 49167531725| 51.58228625503599|7080c274-17f7-4cc...|2021-11-26.parquet|
|  14936| 31101120643|25.228114942417797|8e301c0f-06ab-45c...|2021-11-26.parquet|
+-------+------------+------------------+--------------------+------------------+

Convert `date` column into date format.

In [52]:
df = df.withColumn("order_datetime", regexp_replace("order_datetime", r'\.parquet$', ''))
df = df.withColumn("order_datetime", to_date("order_datetime", "yyyy-MM-dd"))

df.limit(5)

+-------+------------+------------------+--------------------+--------------+
|user_id|merchant_abn|      dollar_value|            order_id|order_datetime|
+-------+------------+------------------+--------------------+--------------+
|  14935| 79417999332|136.06570809815838|23acbb7b-cf98-458...|    2021-11-26|
|      1| 46451548968| 72.61581642788431|76bab304-fa2d-400...|    2021-11-26|
|  14936| 89518629617|3.0783487174439297|a2ae446a-2959-41c...|    2021-11-26|
|      1| 49167531725| 51.58228625503599|7080c274-17f7-4cc...|    2021-11-26|
|  14936| 31101120643|25.228114942417797|8e301c0f-06ab-45c...|    2021-11-26|
+-------+------------+------------------+--------------------+--------------+

Add fraud probability

In [54]:
consumer_fraud_spark = spark.createDataFrame(consumer_fraud)
consumer_fraud_spark.limit(5)

+-------+--------------+-----------------+
|user_id|order_datetime|fraud_probability|
+-------+--------------+-----------------+
|   6228|    2021-12-19| 97.6298077657765|
|  21419|    2021-12-10|99.24738020302328|
|   5606|    2021-10-17|84.05825045251777|
|   3101|    2021-04-17|91.42192091901347|
|  22239|    2021-10-19|94.70342477508036|
+-------+--------------+-----------------+

There are some duplicates in the fraud probability dataframe (i.e. entries with the same `user_id` and `order_datetime`), so we will average out all the `fraud_probability` values over the duplicates, and remove any duplicate rows.

In [69]:
consumer_fraud_spark = consumer_fraud_spark.groupBy("user_id", "order_datetime").agg(
    avg("fraud_probability").alias("avg_fraud_prob")
)

consumer_fraud_spark.limit(5)

+-------+--------------+------------------+
|user_id|order_datetime|    avg_fraud_prob|
+-------+--------------+------------------+
|   5353|    2021-11-24| 68.04701097005726|
|  15725|    2021-11-17| 56.96350254133549|
|  21601|    2021-09-18| 47.73861095222709|
|  11068|    2021-12-12|31.292287468270143|
|  15718|    2021-05-07| 36.31242583605296|
+-------+--------------+------------------+

In [70]:
df_fraud = df.join(consumer_fraud_spark, on=["user_id", "order_datetime"], how="left")
df_fraud = df_fraud.fillna({"avg_fraud_prob": 0})

df_fraud.limit(5)

+-------+--------------+------------+------------------+--------------------+--------------+
|user_id|order_datetime|merchant_abn|      dollar_value|            order_id|avg_fraud_prob|
+-------+--------------+------------+------------------+--------------------+--------------+
|      1|    2021-11-26| 46451548968| 72.61581642788431|76bab304-fa2d-400...|           0.0|
|      1|    2021-11-26| 49167531725| 51.58228625503599|7080c274-17f7-4cc...|           0.0|
|  14936|    2021-11-26| 89518629617|3.0783487174439297|a2ae446a-2959-41c...|           0.0|
|  14936|    2021-11-26| 31101120643|25.228114942417797|8e301c0f-06ab-45c...|           0.0|
|  14935|    2021-11-26| 79417999332|136.06570809815838|23acbb7b-cf98-458...|           0.0|
+-------+--------------+------------+------------------+--------------------+--------------+

Now we can add in the consumer IDs from the `consumer_details` dataframe.

In [72]:
consumer_details.limit(5)

+-------+-----------+
|user_id|consumer_id|
+-------+-----------+
|      1|    1195503|
|      2|     179208|
|      3|    1194530|
|      4|     154128|
|      5|     712975|
+-------+-----------+

In [73]:
df_fraud = df_fraud.join(consumer_details, on=["user_id"], how="left")
df_fraud.limit(5)

+-------+--------------+------------+------------------+--------------------+--------------+-----------+
|user_id|order_datetime|merchant_abn|      dollar_value|            order_id|avg_fraud_prob|consumer_id|
+-------+--------------+------------+------------------+--------------------+--------------+-----------+
|      1|    2021-11-26| 46451548968| 72.61581642788431|76bab304-fa2d-400...|           0.0|    1195503|
|      1|    2021-11-26| 49167531725| 51.58228625503599|7080c274-17f7-4cc...|           0.0|    1195503|
|  14936|    2021-11-26| 89518629617|3.0783487174439297|a2ae446a-2959-41c...|           0.0|     986886|
|  14936|    2021-11-26| 31101120643|25.228114942417797|8e301c0f-06ab-45c...|           0.0|     986886|
|  14935|    2021-11-26| 79417999332|136.06570809815838|23acbb7b-cf98-458...|           0.0|    1059280|
+-------+--------------+------------+------------------+--------------------+--------------+-----------+

In [74]:
df_fraud.filter(df_fraud["consumer_id"].isNull()).count()

0

We can see there are no missing values in the `consumer_id` column, so there are no issues with merging. Now, we can merge again using our `df_merged` dataset, which contains median income data.

In [75]:
# convert median income pandas df to a spark df
median_income_spark = spark.createDataFrame(df_merged[["consumer_id", "median_personal_income"]])
median_income_spark.limit(5)

+-----------+----------------------+
|consumer_id|median_personal_income|
+-----------+----------------------+
|    1195503|                 848.0|
|     179208|                 740.0|
|    1194530|                 416.0|
|     154128|                 687.0|
|     712975|                 897.0|
+-----------+----------------------+

In [77]:
df_final = df_fraud.join(median_income_spark, on=["consumer_id"], how="left")
df_final.limit(5)

+-----------+-------+--------------+------------+------------------+--------------------+--------------+----------------------+
|consumer_id|user_id|order_datetime|merchant_abn|      dollar_value|            order_id|avg_fraud_prob|median_personal_income|
+-----------+-------+--------------+------------+------------------+--------------------+--------------+----------------------+
|    1059280|  14935|    2021-11-26| 79417999332|136.06570809815838|23acbb7b-cf98-458...|           0.0|                 674.0|
|    1195503|      1|    2021-11-26| 46451548968| 72.61581642788431|76bab304-fa2d-400...|           0.0|                 848.0|
|    1195503|      1|    2021-11-26| 49167531725| 51.58228625503599|7080c274-17f7-4cc...|           0.0|                 848.0|
|     986886|  14936|    2021-11-26| 89518629617|3.0783487174439297|a2ae446a-2959-41c...|           0.0|                 831.0|
|     986886|  14936|    2021-11-26| 31101120643|25.228114942417797|8e301c0f-06ab-45c...|           0.0|                 831.0|
+-----------+-------+--------------+------------+------------------+--------------------+--------------+----------------------+

In [78]:
df_final.filter(df_final["median_personal_income"].isNull()).count()

0

We can see that our new column has no missing values, so our dataframe is complete. Next step is to add the take rate depending on `merchant_abn`, and calculate purchase power, expected revenue and expected loss for each transaction.